@charset "utf-8";
/* CSS Document */


.transparentDiv { position:absolute; width:100%; height:100%; overflow:visible; visibility:hidden; z-index:3000; background-repeat:repeat; background:#f2ffff; filter:progid:dximagetransform.microsoft.alpha(opacity=0); }
.translucentDiv { position:absolute; width:100%; height:100%; overflow:visible; visibility:hidden; z-index:2000; background-repeat:repeat; background:black; filter:progid:dximagetransform.microsoft.alpha(opacity=50); text-align:center; }
.detailsDiv { position:absolute;z-index:7000;top:20%;left:5%;width:90%;overflow:auto;background:white;visibility:hidden;margin-top:0; margin-bottom:0; margin-left:0; margin-right:0; border:solid 1px rgb(150,150,150); }

/* Alert Box */
.dialog { position:absolute; z-index:100000; width:30%; display:none; margin:0px auto; min-width:20em; }
.dialog table tr.hdt td.lt { background: url('../images/alertBox/l_t.gif') no-repeat;width:12px;height:12px; }
.dialog table tr.hdt td.mt { background: url('../images/alertBox/c_t.gif') repeat-x;height:12px; }
.dialog table tr.hdt td.rt { background: url('../images/alertBox/r_t.gif') no-repeat;width:12px;height:12px; }
.dialog table tr.bd td.lt { background: url('../images/alertBox/l_m.gif') repeat-y; }
.dialog table tr.bd td.mt { background: url('../images/alertBox/bg.gif'); }
.dialog table tr.bd td.rt { background: url('../images/alertBox/r_m.gif') repeat-y; }
.dialog table tr.hdb td.lt { background: url('../images/alertBox/l_b.gif') no-repeat;width:12px;height:12px; }
.dialog table tr.hdb td.mt { background: url('../images/alertBox/c_b.gif') repeat-x;height:12px; }
.dialog table tr.hdb td.rt { background: url('../images/alertBox/r_b.gif') no-repeat;width:12px;height:12px; }


body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

body.chev { background:url(../images/bg_chev.gif) left center no-repeat;}

h1{
	font-size:20px;
	margin:0;
	padding:0;
	color:#0d5cab;
}
.clr{	clear:both;}

#container{
	width:100%;
}
#header
{
	width:100%;	
	padding-bottom:10px;
	border-bottom:#e5e5e5 solid 2px;
/*	margin-bottom:10px;*/
	float:left;
}

#maincontainer{
	width:100%;
}

.inner_wrap
{
	width:960px;
	margin:5px auto;
}

input:focus { border:none; outline:none}

.floatl { float:left}
/**************** header ***************/
#header_container{
	width:100%;
	float:left;
}

#header_container #application_contaienr_left{
	width:643px;
	float:left;
	padding-top:14px;
	color:#666666;
	font-size:11px;
	font-weight:bold;
}

#header_container #logo_container{
	width:312px;
	float:left;
	padding-top:8px;
}

/**************** header ***************/

.qfocustitle { float:left; padding:7px 0 0 0; font-size:40px;}
.qfocussubtitle { float:left; padding:24px 0 0 8px;}

.nobrd { border:none !important}


#content_container{
	width:641px;
	padding:15px;
	margin:0 auto;
	background:#bce2ef;
}


#content_container #top_container{
	width:100%;
	float:left;
	background:#fbfbfb;

}

#content_container #top_container #login_box{
	width:309px;
	float:left;
	padding: 15px 35px;
	background:#fff;
	border-right:1px solid #ebebeb;
}


#content_container #top_container #login_box .rounded_middle_content .login_title{
	float:left;
	margin-left:21px;
	height:28px;
	padding:10px 0 3px;
	color:#0e5cab;
	font-size:20px;
}


#content_container #top_container #login_box .rounded_middle_content .login_title1{
	float:left;
	margin-left:21px;
	height:28px;
	padding:10px 0 3px;
	color:#0e5cab;
	font-size:15px;
}
#content_container #top_container #login_box .rounded_middle_content .input_container{
	width:275px;
	float:left;
	margin-left:15px;
	margin-top:13px;
		border:1px solid #cdcdcd;
		padding:5px 0;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .left_icon{
	width:28px;
	float:left;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .right_corner{
	width:8px;
	float:left;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .textfied{
	width:232px;
	float:left;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .textfied input{
	width:226px;
	float:left;
	height:32px;
	border:none;
	color:#787878;
	font-weight:bold;
	padding-left:5px;
	line-height:32px;
}
 .textfied input:focus{
	border:none;
	 }
#content_container #top_container #login_box .rounded_middle_content .input_container .login_button_container{
	width:139px;
	float:left;

}

.login_button{
	background-image:url(../images/login_button.jpg);
	background-repeat:no-repeat;
	width:115px;
	height:45px;
	cursor:pointer;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	border:0;
	float:left;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .link_container{
	width:120px;
	float:left;
	color:#565656;
	font-size:11px;
	font-weight:bold;
	text-align:right;
	padding-top:12px;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .link_container a{
	color:#565656;
	text-decoration:none;
}

#content_container #top_container #login_box .rounded_middle_content .input_container .link_container a:hover{
	color:#0d5cab;
	text-decoration:none;
}




#content_container #top_container #links_box{
	width:200px;
	float:left;
	padding:20px 30px;

}

#content_container #top_container #links_box .title{
	float:left;
	color:#0e5cab;
	font-size:15px;
	padding:0 0 10px 0;
}

#content_container #top_container #links_box ul{
	margin:0;
	padding:0;
	width:100%;
	float:left;
}

#content_container #top_container #links_box ul li{
	border-bottom:1px solid #e5e5e5;
	list-style-type:none;
	color:#404040;
	font-weight:bold;
	font-size:12px;
	line-height:28px;
}


#content_container #top_container #links_box ul li a{
	color:#565656;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}

#content_container #top_container #links_box ul li a:hover{
	color:#0d5cab;
	text-decoration:none;
}

#note_container{
	width:640px;
	padding:10px 5px;
	margin:0 auto;
	
}


#note_container ul{ 
	margin:0;
	padding:0;
	float:left;
}

#note_container ul li{ 
	list-style-type:none;
	color:#3e3e3e;
	font-size:12px;
	line-height:18px;
}

#note_container ul li span{ 
	font-size:11px;
}

#note_container ul li.title{ 
	font-size:12px;
	font-weight:bold;
	background-image:none;
	padding-left:0px;
}

#contactinfo_container{
	width:623px;
	color:#5e5e5e;
	background:#f5f5f5;
	font-size:14px;
	padding:8px 25px;
	margin:0 auto;
	line-height:21px
}

#contactinfo_container a{
	text-decoration:none;
	color:#12385e;
}

#contactinfo_container a:hover{
	text-decoration:underline;
	color:#12385e;
}

/************ Footer ****************/
#footer{
	background:#fff;
	width:100%;	
	border-top:1px solid #dbdbdb;
	padding:11px 0;

	
}

#footer #footer_container
{
	width:100%;
	color:#b0b0b0;
	font-size:12px;

}

#footer #footer_container #info_container{
	width:960px;
	margin:0 auto;
}

#footer_container #info_container .copyrights{
	width:100%;
	text-align:center
	
}

#footer_container #info_container .copyrights a{
	text-decoration:none;
	color:#12385e;
}

#footer_container #info_container .copyrights a:hover{
	text-decoration:underline;
	color:#12385e;
}

#footer #footer_container #info_container .footer_links{
	width:480px;
	float:left;
	text-align:right;
}

#footer #footer_container #info_container .footer_links a{
	color:#fff;
	text-decoration:none;
}

#footer #footer_container #info_container .footer_links a:hover{
	color:#b7cee6;
	text-decoration:none;
}
/************ Footer ****************/
